<div class="w-100 d-flex flex-column align-items-center">
    <div class="main-container w-100 d-flex">
        <div class="best-sales-container">
            <h3>Popularne knjige</h3>
            <div class="best-item d-flex align-items-center">
                <img src="http://127.0.0.1:3000/{{book?.image}}" alt="Popular Book Image">
                <div class="best-item-text">
                    <h4 class="m-0">Pocni sa zasto</h4>
                    <i class="m-0">Belestrika</i>
                </div>
            </div>
            <div class="best-item d-flex align-items-center">
                <img src="http://127.0.0.1:3000/{{book?.image}}" alt="Popular Book Image">
                <div class="best-item-text">
                    <h4 class="m-0">Pocni sa zasto</h4>
                    <i class="m-0">Belestrika</i>
                </div>
            </div>
        </div>
        <div class="image-container">
        <img src="http://127.0.0.1:3000/{{book?.image}}" alt="Test" class="w-100 h-100">
        </div>
        <div class="book-info-container">
            <h1>{{book?.title}}</h1>
            <p>{{truncatedTitle}}</p>
            
            <app-book-info-classic
                mainColumn="Autor"
                infoColumn="{{book?.author?.name}} {{book?.author?.surname}}"
            ></app-book-info-classic>

            <app-book-info-classic
                mainColumn="Kategorija"
                infoColumn="{{book?.genre}}"
            ></app-book-info-classic>

            <app-book-info-classic
                mainColumn="Jezik"
                infoColumn="{{book?.language}}"
                [isDecorated]=true
            ></app-book-info-classic>

            <app-book-info-classic
                mainColumn="Datum dodavanja"
                infoColumn="{{book?.created_at | date:'dd MMM yyyy'}}"
                [isDecorated]=true
            ></app-book-info-classic>

            <div class="my-4"></div>

            <app-book-actions *ngIf="!inToReadList" class="w-100" 
                [icon]="faCheck"
                textValue="Označi kao pročitano"
                (buttonClick)="addToReadingList()"
            ></app-book-actions>

            <app-book-actions *ngIf="inToReadList" class="w-100" 
                [icon]="faClose"
                textValue="Ukloni iz liste pročitanih"
                (buttonClick)="removeFromReadedList()"
                [isReverse]=true
            ></app-book-actions>

            <app-book-actions class="w-100"
                [icon]="faDownload"
                textValue="Preuzmi PDF"
                [isReverse]=true
                (buttonClick)="downloadPdf()"
            ></app-book-actions>
        </div>
    </div>
    <app-book-info class="w-100 d-flex  justify-content-center"></app-book-info>
</div>
