button{
    padding: 10px 20px;
    color: white;
    border: none;
    background-color: var(--secondary-color);
    transition-duration: .3s;
}

button.active{
    background-color: black;
}
button.active:hover{
    background-color: var(--secondary-color);
}