button{
    width: 100%;
    padding: 12px 30px;
    border: none;
    font-size: 18px;
    color: white;
    background-color: var(--main-color);
    transition-duration: .3s;
}
button:hover{
    background-color: black;
}