.main-screen img{
    height: 700px;
    object-fit: cover;
}
.new-arrivals{
    max-width: 1310px;
    margin: 100px 0px;
    padding: 50px 20px;
}
.new-arrivals h1{
    font-size: 24px;
    font-weight: bold;
}
.underline-indicator{
    width: 60px;
    height: 5px;
    background-color: var(--main-color);
}
