<div class="main-screen w-100 d-flex flex-column align-items-center">
    <div class="image-container position-relative">
        <img [src]="mainImagePath" class="w-100" alt="Main Image" >
        <div class="banner">
            <div class="text-container position-relative">
                <h3>Besplatne knjige</h3>
                <h1>Potpuno besplatno čitajte knjige</h1>
                <p>Veliki izbor knjiga koje će vam držati pažnju kada Vam je najpotrebnije. Samo jedan klik vas deli od svoje omiljene knjige. Šta čekate?</p>
                <button class="shop-now">Pretraži knjige</button>
            </div>
        </div>
    </div>
    <div class="new-arrivals w-100">
        <div class="w-100 d-flex flex-column align-items-center">
            <h1 class="text-center">SKORO DODATO</h1>
            <div class="underline-indicator"></div>
        </div>
        
        <app-book-list></app-book-list>
    </div>

</div>