
<nav class="w-100 d-flex flex-column align-items-center justify-content-center">
  <div class="first-nav w-100 align-items-center justify-content-between">
      <div class="two-icon align-items-center">
          <a href="#"><fa-icon [icon]="faHeart"></fa-icon></a>
      </div>
      <h1>Libra <span>Corner</span></h1>
      <div class="two-icon align-items-center">
        <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page"><fa-icon [icon]="faUser" class="mx-3"></fa-icon></a>
          <a href="#"><fa-icon [icon]="faSearch"></fa-icon></a>
      </div>
  </div>
  <div class="second-nav w-100 d-flex align-items-center justify-content-center">
      <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Početna</a>
      <a href="#">Kategorije</a>
      <a href="#">Knjige</a>
      <a href="#">Blog</a>
      <a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">O nama</a>
  </div>
</nav>
<router-outlet></router-outlet>
