.first-nav{
    max-width: 1310px;
    padding: 20px 20px;
    display: flex;
}

.first-nav h1{
    font-size: 24px;
    text-transform: uppercase;
}

.first-nav h1 span{
    color: var(--main-color);
}
.first-nav a{
    text-decoration: none;
    color: black;
    transition-duration: .3s;
}

.first-nav a:hover{
    color: var(--main-color);
    scale: 1.2;
}
.second-nav{
    background-color: var(--main-color);
    padding: 13px 20px;
}
.two-icon{
    width: 70px;
    display: flex;
}
.second-nav a{
    text-decoration: none;
    color: white;
    margin: 0 10px;
    font-weight: 400;
    transition-duration: .3s;
}
.second-nav a:hover{
    color: lightgray;
}
.new-book{
    background-color: black;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.new-book .img{
    color: white;
}



footer {
    background-color: #343a40;
    color: white;
    padding-top: 80px;
  }
  
  footer a {
    color: white;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  
  footer h5 {
    margin-bottom: 1rem;
  }
  
  footer .fa-2x {
    margin-right: 10px;
  }
  
  footer .fa-2x:hover {
    color: #007bff;
  }
  
  .footer-background{
    position: absolute;
    top: 0;
    left: 0;
    height:400px;
  }